 <html>
        <head>
           
            <title>voxzal importer</title>

</head>


<body>

<p>Welcome to the first voxzal ruby on rails prototype application! <br/>
    <li>Deployed on <a href="http://www.heroku.com">heroku!</a></li>
    <li>Code on <a href="https://github.com/paultaylor-vox/vuby">github</a> (we love github)!</li>
    
This application is completely empty - this was just to test ruby on rails and heroku deployment <br/>
<b>Conclusion - watch this space!</b></p>

</body>

</html>
