 <html>
        <head>
           
            <title>voxzal importer</title>

</head>


<body>

<p>Welcome to the first voxzal ruby on rails prototype application! <br/>
    <li>Deployed on heroku!!</li>
    
This application is completely empty - this was just to test ruby on rails and heroku deployment <br/>
<b>Conclusion - COOL!!</b></p>

</body>

</html>
