<!DOCTYPE html>
<html>
<head>
  <title>voxzal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="header" style="background-image:url(/images/header.jpg)">
                <img src="/images/navbar_Interfaces.gif" name="navbar" border="0" usemap="#navbarMap" id="navbar" alt="NavBar" />

            </div>

<%= yield %>

</body>
</html>
